h1 {
  text-align: center;
}

a {
  margin-right: 2%;
}

span {
  margin-left: 2%;
}

nav {
  border-bottom: Maroon solid 2px;
}

.navbar {
  position: relative;
  animation-name: nav-header;
  animation-duration: 1s;
}

@keyframes nav-header {
  0% {
    top: -40px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

.fun-item:hover {
  -ms-transform: scale(1.05);
  /* IE 9 */
  -webkit-transform: scale(1.05);
  /* Safari 3-8 */
  transform: scale(1.05);
  background-color: #525252;
}

.fade {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.item {
  padding-bottom: 2%;
}

.btn {
  border: #21081a solid 2px;
}
